.env
# Virtual environments
venv/
.venv/
venv311/

# Python cache/build files
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/

# Local IDE/editor files
.idea/
.vscode/

# OS files
.DS_Store

# Local/generated data
data/

# Extra for self learning
Full Roadmap.md
